# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCdNLVDTHcq9a/WhEW1jo5fwysq51HYPbJGFl5De5+YIHFPyCd5CNMjX0TQ+LEdKn3vi5zdbsXIzPQ5wjAUFYFcjg7LqIP60epKMf132CHINNHdNZdw7ieqQRgzYEi1jYt0XFlKN4OxYMjcnCnLr9Wa8Rk/JedoQZQ+vMLaahFlygOjA8VrBymh8CRA2BQn/3wgNL/XyoXyeSB7ylkXC9YYwpDZ0PVLl9O8k3h3KFWCUwt96Y1lcggwFJbv49GzgGmg+6F6c+Zv7OBMPSXAL2lePtSE+jEql4koX0GazaCqCdNrWEMo6ovUtGUl5cUqFNTN7KfiqiSo6dHzkNr8rEQ7 atta@atta-VirtualBox
