# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log

https://stackoverflow.com/questions/57028412/how-to-install-nexus-on-ubuntu-18-04


